<section class="call" id="call">
    <h2 class="title">Call me</h2>
    <form>
        <input type="email" name="email" id="email" placeholder="Email*">
        <div class="row">
            <input type="text" name="name" id="name" placeholder="Name*">
            <input type="tel" name="tel" id="tel" placeholder="Tel*">
        </div>
        <textarea name="info" id="info" cols="30" rows="10" placeholder="Text"></textarea>
        <input type="submit" value="Call Me" class="submit">
    </form>
</section>