<header>
    <img src="assets/dkzaune.png" class="logo">
    <div class="header__content">
        <nav>
            <ul class="menu">
                <li class="menu__item"> <a href="#about"> ABOUT US </a></li>
                <li class="menu__item"> <a href="#gallery"> GALLERY</a></li>
                <li class="menu__item"> <a href="#call"> CONTACT </a></li>
            </ul>
        </nav>
        <div class="lang">
            <div class="lang__content">
                PL
                <div class="lang__content__choosed">
                    <span>DE</span>
                </div>
            </div>
        </div>
    </div>  
</header>