<footer class="footer">
    <h3 class="footer__logo">Dkzäune</h3>
    <div class="footer__content">
        <div>
            <div class="footer__info-block">
                <img src="assets/footer/telephone.png" alt="" class="footer__icon">
                <p class="footer__info">+48 516671635</p>
            </div>
            <div class="footer__info-block">
                <img src="assets/footer/email.png" alt="" class="footer__icon">
                <p class="footer__info">exemple@dkzaune.pl</p>
            </div>
        </div>
        <div class="footer__info-block">
            <img src="assets/footer/adress.png" alt="" class="footer__icon">
            <p class="footer__info">Więcław 11/2 <br>
                74-400 Dębno</p>
        </div>
    </div>
</footer>