<section class="about" id="about">
    <h2 class="about__title">About Us</h2>
    <div>
        <p class="about__text">Unser Unternehmen möchte den Komfort und die Sicherheit der Kunden. Dkzäune steht Ihnen zur Verfügung.
            Wir bieten Ihnen eine einfache und kostenlose Beratung vor Ort. Die Firma hat viel Erfahrung im Bereich Bau und Projektentwicklung.
            Unsere Mitarbeiter suchen Lösungen für Ihre Bedürfnisse.
            <img class="about__img" src="assets/about/zavod.jpg" alt="">
        </p>
    </div>
</section>